html,
body {
  overflow: auto;
}

div#match {
  text-align: center;
}

div#match h1 {
  color: royalblue;
}

a,
button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

table thead tr {
  color: blue;
  background: lightblue;
}

tr:hover {
  background-color: #75e2e6;
}

th {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

/*
table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: 1px solid black;
}

tbody {
  display: block;
  height: 400px;
  overflow: scroll;
}

table thead tr {
  display: table;
  table-layout: fixed;
  color: blue;
  background: lightblue;
  width: 97.6%;
}
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tr:hover {
  background-color: #75e2e6;
}


tbody a.link-button-component {
  margin: 0px 2px 0px 2px;
}
*/
