div#match {
  text-align: center;
}

div#match h1 {
  color: royalblue;
}

div#match-setting a,
button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div#players table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: 1px solid black;
}

div#players tbody {
  display: block;
  height: 400px;
  overflow: scroll;
}

div#players table thead tr {
  display: table;
  table-layout: fixed;
  color: blue;
  background: lightblue;
  width: 97.6%;
}
div#players table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

div#players tr:hover {
  background-color: #75e2e6;
}

th {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
